/* General CSS */

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: 'Comfortaa', cursive;
}

html,
body {
    height: 100%;
}

:root {
    --space: 1.5em 0;
    --space: 2em 0;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}

.site-content:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}