.home {
    background-color: #0d133a;
}

.home .header a {
    color: #fff;
    transition: all .1s;
}

.home .header a:hover {
    color: #8c2e66;
}

.home .site-footer {
    background-color: #8c2e66;
    color: #fff;
}

.jumbotron {
    background-color: transparent;
    height: 80vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid #f8f8f8; */
}

#formWrapper {
    /* border: 1px solid #f5f5f5; */
    border-radius: 25px;
    /* padding: 5px; */
    margin: auto;
    width: 100%;
    max-width: 400px;
    background-color: #331b56;
}

#formLogo {
    padding: 10px;
}

#formLogo img {
    height: 100px;
    width: auto;
    display: block;
    margin: auto;
    text-align: center;
}

#formImage {
    background-image: url(/images/pattern.png);
    background-repeat: repeat;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

a {
    color: #fff;
    text-decoration: none !important;
    transition: all .1s;
}

a:hover {
    color: #8c2e66;
}

#signinLink {
    text-align: center;
}

.btn-highlight {
    background-color: #8c2e66;
    transition: all .1s;
    border: none;
}

.btn-highlight:hover {
    background-color: #66184a;
}