.container {
    height: 100%;
    display: block;
}

#chatComponent {
    border: 1px solid #ccc;
}

#chatArea {
    height: 100%;
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    /* margin-bottom: 5px */
}

#chatForm {
    width: 90%;
    margin: auto;
    /* position: absolute; */
    right: 0;
    left: 0;
    bottom: 0;
}

#chatForm img {
    height: 38px;
    width: auto;
}

.current-user {
    color: #bc360a;
}

#messages li {
    list-style: none;
}