.container {
    height: 100%;
    display: block;
}

#chatArea {
    height: 100%;
}

#chatForm {
    width: 90%;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

#chatForm img {
    height: 38px;
    width: auto;
}