#profileSide .bm-menu {
    background-color: #390040;
    color: white;
}

#lobbyOuter {
    background-color: #390040;
}

#lobby {
    background-color: #390040;
    color: white;
}

#game-tabs-tab-allGames {
    background-color: transparent;
    color: white;
}

#game-tabs-tab-sfwGames {
    background-color: transparent;
    color: white;
}

#game-tabs-tab-nsfwGames {
    background-color: transparent;
    color: white;
}

#game-tabs-tab-allGames:hover {
    background-color: #8c2e66!important;
    color: #ffffff
}

#game-tabs-tab-sfwGames:hover {
    background-color: #8c2e66!important;
    color: #ffffff
}

#game-tabs-tab-nsfwGames:hover {
    background-color: #8c2e66!important;
    color: #ffffff
}

.tab-content {
    margin-top: 20px;
    text-align: center;
    font-size: 20px
}

.game-row {
    padding: 30px 0 30px 0
}