.card-wrapper {
    padding: 2px;
    cursor: pointer;
}

.card {
    border: none;
}

.card-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: auto;
    border: 2px solid #0F072C;
}

.overlay-shadow {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
}

.overlay-shadow:hover {
    opacity: 0.7;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}