.card-wrapper {
    padding: 2px;
    cursor: pointer;
}

.card {
    border: none;
}

.card-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: auto;
    border: 2px solid #fff;
}