.site-footer.gray {
    background-color: #040016;
    padding: 10px;
}

.site-footer.purple {
    background-color: rgb(170, 28, 189);
    padding: 10px;
    color: white;
}

.site-footer a{
    color: black;
}
