/* helpers */

.text-red {
    color: red;
}

#userList {
    list-style: none;
}

.viewComponent {
    height: auto;
}

@media only screen and (max-width: 768px) {
    #viewComponent {
        min-height: 80vh;
    }
}


/* #buttonContainer {
    padding-top: 100px;
} */


/* Position and sizing of burger button */

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}


/* General sidebar styles */

.bm-menu {
    background: #390040;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-item-list {
    color: #fff0db;
    padding: 0.8em;
}

.bm-menu-wrap {
    width: 50% !important;
}


/* cross button */

#profileSide .bm-cross-button {
    left: 8px;
}


/* menu on mobile */

@media only screen and (max-width: 768px) {
    .bm-menu-wrap {
        width: 100% !important;
    }
}