.header {
    display: flex;
    justify-content: space-between;
}

.header a {
    margin: 0 10px;
    color: #000;
    transition: all .5s;
    text-decoration: none;
}

.header a:hover {
    color: #bc360a;
}

.logo img {
    height: 50px;
    width: auto;
}